<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>G00-SymbolAnim-Win-S1H3_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,102}</string>
                <key>spriteSourceSize</key>
                <string>{230,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{202,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S1H3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,102}</string>
                <key>spriteSourceSize</key>
                <string>{230,120}</string>
                <key>textureRect</key>
                <string>{{205,1},{202,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S1H3_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,102}</string>
                <key>spriteSourceSize</key>
                <string>{230,120}</string>
                <key>textureRect</key>
                <string>{{409,1},{202,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S1H3_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,102}</string>
                <key>spriteSourceSize</key>
                <string>{230,120}</string>
                <key>textureRect</key>
                <string>{{613,1},{202,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S1H3_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,102}</string>
                <key>spriteSourceSize</key>
                <string>{230,120}</string>
                <key>textureRect</key>
                <string>{{817,1},{202,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S1H3_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,102}</string>
                <key>spriteSourceSize</key>
                <string>{230,120}</string>
                <key>textureRect</key>
                <string>{{1,105},{202,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S1H3_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,102}</string>
                <key>spriteSourceSize</key>
                <string>{230,120}</string>
                <key>textureRect</key>
                <string>{{205,105},{202,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S1H3_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,102}</string>
                <key>spriteSourceSize</key>
                <string>{230,120}</string>
                <key>textureRect</key>
                <string>{{409,105},{202,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S1H3_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,102}</string>
                <key>spriteSourceSize</key>
                <string>{230,120}</string>
                <key>textureRect</key>
                <string>{{613,105},{202,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S1H3_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,102}</string>
                <key>spriteSourceSize</key>
                <string>{230,120}</string>
                <key>textureRect</key>
                <string>{{817,105},{202,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S1H3_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,102}</string>
                <key>spriteSourceSize</key>
                <string>{230,120}</string>
                <key>textureRect</key>
                <string>{{1,209},{202,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S1H3_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,102}</string>
                <key>spriteSourceSize</key>
                <string>{230,120}</string>
                <key>textureRect</key>
                <string>{{1,313},{202,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>G00-SymbolAnim-Win-S1H3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78d8bbc7805f6027b4461c1aa73519f7:d4f6385f51b4458e7440e195cc1464e9:ef286f918474dbe393a6107d687393b6$</string>
            <key>textureFileName</key>
            <string>G00-SymbolAnim-Win-S1H3.png</string>
        </dict>
    </dict>
</plist>
