<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>G00-SymbolAnim-Win-S3WD_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,302}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{759,305},{202,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S3WD_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,302}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{547,609},{202,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S3WD_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{206,302}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{773,1},{206,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S3WD_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{224,302}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{547,1},{224,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S3WD_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{252,302}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{281,305},{252,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S3WD_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{274,302}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{1,609},{274,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S3WD_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{282,302}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{282,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S3WD_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{278,302}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{1,305},{278,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S3WD_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{268,302}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{277,609},{268,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S3WD_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{248,302}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{285,1},{248,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S3WD_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{222,302}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{535,305},{222,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S3WD_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,302}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{751,609},{202,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>G00-SymbolAnim-Win-S3WD.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09592c124379d3ada0fc16b414fb0fb2:287e49816b6241be50dc9b5d622622f0:5898d55721321a599f7f6e20709f45bb$</string>
            <key>textureFileName</key>
            <string>G00-SymbolAnim-Win-S3WD.png</string>
        </dict>
    </dict>
</plist>
