<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>G00-SymbolAnim-Win-S2SC_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{251,405},{202,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S2SC_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{267,203},{202,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S2SC_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{204,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{249,607},{204,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S2SC_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{222,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{1,809},{222,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S2SC_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{248,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{1,405},{248,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S2SC_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{270,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{559,1},{270,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S2SC_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{278,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{278,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S2SC_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{276,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{281,1},{276,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S2SC_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{264,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{1,203},{264,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S2SC_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{246,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{1,607},{246,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S2SC_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{220,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{225,809},{220,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S2SC_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{447,809},{202,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>G00-SymbolAnim-Win-S2SC.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4cf16ec7cf26d6d7c06d89fed6c9ec91:74d1506c2793defef1488240b33fd226:842122601fc6f74385fa2d8d6844c3ce$</string>
            <key>textureFileName</key>
            <string>G00-SymbolAnim-Win-S2SC.png</string>
        </dict>
    </dict>
</plist>
