<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>G00-SymbolAnim-Win-S3SC_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,302}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{751,305},{202,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S3SC_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,302}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{539,609},{202,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S3SC_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{204,302}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{763,1},{204,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S3SC_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{222,302}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{539,1},{222,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S3SC_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{248,302}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{279,305},{248,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S3SC_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{270,302}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{1,609},{270,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S3SC_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{278,302}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{278,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S3SC_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{276,302}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{1,305},{276,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S3SC_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{264,302}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{273,609},{264,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S3SC_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{246,302}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{281,1},{246,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S3SC_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{220,302}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{529,305},{220,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S3SC_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,302}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{743,609},{202,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>G00-SymbolAnim-Win-S3SC.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a71ff8e177c8a191bc0a263bdc01c859:5e5d5237e66697b18c30384298049cdf:c347973e159fd1fa517a5e25c5874235$</string>
            <key>textureFileName</key>
            <string>G00-SymbolAnim-Win-S3SC.png</string>
        </dict>
    </dict>
</plist>
