<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>G00-SymbolAnim-Win-S2N1_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{202,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S2N1_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{205,1},{202,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S2N1_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{409,1},{202,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S2N1_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{613,1},{202,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S2N1_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{817,1},{202,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S2N1_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{1,203},{202,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S2N1_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{1,405},{202,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S2N1_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{1,607},{202,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S2N1_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{1,809},{202,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S2N1_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{205,203},{202,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S2N1_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{409,203},{202,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S2N1_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{613,203},{202,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>G00-SymbolAnim-Win-S2N1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f5e7b69ffca4affc763c75e6b8f1a47:70a3b5cd6972ecaeb39378bdaee94808:d4279e69c6a64861a52d028c96bcb7b3$</string>
            <key>textureFileName</key>
            <string>G00-SymbolAnim-Win-S2N1.png</string>
        </dict>
    </dict>
</plist>
