<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>G00-SymbolAnim-Win-S1SC_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,102}</string>
                <key>spriteSourceSize</key>
                <string>{230,120}</string>
                <key>textureRect</key>
                <string>{{629,1},{202,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S1SC_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,102}</string>
                <key>spriteSourceSize</key>
                <string>{230,120}</string>
                <key>textureRect</key>
                <string>{{1,105},{202,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S1SC_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,102}</string>
                <key>spriteSourceSize</key>
                <string>{230,120}</string>
                <key>textureRect</key>
                <string>{{205,105},{202,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S1SC_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,102}</string>
                <key>spriteSourceSize</key>
                <string>{230,120}</string>
                <key>textureRect</key>
                <string>{{409,105},{202,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S1SC_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,102}</string>
                <key>spriteSourceSize</key>
                <string>{230,120}</string>
                <key>textureRect</key>
                <string>{{613,105},{202,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S1SC_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{204,102}</string>
                <key>spriteSourceSize</key>
                <string>{230,120}</string>
                <key>textureRect</key>
                <string>{{423,1},{204,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S1SC_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{210,102}</string>
                <key>spriteSourceSize</key>
                <string>{230,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{210,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S1SC_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{208,102}</string>
                <key>spriteSourceSize</key>
                <string>{230,120}</string>
                <key>textureRect</key>
                <string>{{213,1},{208,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S1SC_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,102}</string>
                <key>spriteSourceSize</key>
                <string>{230,120}</string>
                <key>textureRect</key>
                <string>{{817,105},{202,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S1SC_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,102}</string>
                <key>spriteSourceSize</key>
                <string>{230,120}</string>
                <key>textureRect</key>
                <string>{{1,209},{202,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S1SC_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,102}</string>
                <key>spriteSourceSize</key>
                <string>{230,120}</string>
                <key>textureRect</key>
                <string>{{1,313},{202,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S1SC_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,102}</string>
                <key>spriteSourceSize</key>
                <string>{230,120}</string>
                <key>textureRect</key>
                <string>{{1,417},{202,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>G00-SymbolAnim-Win-S1SC.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80382909c65dc798c5241051c5894733:4ab6928b1313451f22a4e60ddcd1fd2e:61d46ad4139b5fff57b0503d5fe7260b$</string>
            <key>textureFileName</key>
            <string>G00-SymbolAnim-Win-S1SC.png</string>
        </dict>
    </dict>
</plist>
