<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>G00-SymbolAnim-Win-S3H4_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,302}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{1,305},{202,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S3H4_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,302}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{1,609},{202,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S3H4_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,302}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{205,305},{202,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S3H4_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,302}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{207,1},{202,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S3H4_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,302}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{205,609},{202,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S3H4_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,302}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{411,1},{202,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S3H4_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,302}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{204,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S3H4_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,302}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{615,1},{202,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S3H4_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,302}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{819,1},{202,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S3H4_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,302}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{409,305},{202,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S3H4_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,302}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{409,609},{202,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S3H4_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,302}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{613,305},{202,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>G00-SymbolAnim-Win-S3H4.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0fb42bca1f6b8c2e085487a00695ef18:489be89b04a97604aa43e94d9da025c7:d0010494dce84fc92bd901a57d6d1257$</string>
            <key>textureFileName</key>
            <string>G00-SymbolAnim-Win-S3H4.png</string>
        </dict>
    </dict>
</plist>
