<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>G00-SymbolAnim-Win-S3H2_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,302}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{202,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S3H2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,302}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{1,305},{202,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S3H2_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,302}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{1,609},{202,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S3H2_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,302}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{205,1},{202,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S3H2_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,302}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{409,1},{202,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S3H2_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,302}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{613,1},{202,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S3H2_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,302}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{817,1},{202,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S3H2_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,302}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{205,305},{202,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S3H2_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,302}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{205,609},{202,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S3H2_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,302}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{409,305},{202,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S3H2_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,302}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{409,609},{202,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S3H2_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,302}</string>
                <key>spriteSourceSize</key>
                <string>{300,320}</string>
                <key>textureRect</key>
                <string>{{613,305},{202,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>G00-SymbolAnim-Win-S3H2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5588cfeee722bd22feee9ee6ee37c3a:21212cb55661ea54b7a687a3506756e4:0289b7b04e3452065feac57c91c5a56c$</string>
            <key>textureFileName</key>
            <string>G00-SymbolAnim-Win-S3H2.png</string>
        </dict>
    </dict>
</plist>
