<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>G00-SymbolAnim-Win-S2WD_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{255,405},{202,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S2WD_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{271,203},{202,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S2WD_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{206,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{251,607},{206,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S2WD_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{224,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{1,809},{224,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S2WD_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{252,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{1,405},{252,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S2WD_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{274,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{565,1},{274,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S2WD_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{282,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{282,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S2WD_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{278,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{285,1},{278,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S2WD_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{268,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{1,203},{268,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S2WD_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{248,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{1,607},{248,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S2WD_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{222,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{227,809},{222,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G00-SymbolAnim-Win-S2WD_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{451,809},{202,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>G00-SymbolAnim-Win-S2WD.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b0a8a5d12bdb5fbe9e7bc466561840e:637ec5e9e1007659c7a27e7479d40abb:45972509bd66fab9526daf7a63bd73bd$</string>
            <key>textureFileName</key>
            <string>G00-SymbolAnim-Win-S2WD.png</string>
        </dict>
    </dict>
</plist>
